.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  margin-bottom: 0px;
}

.profilePic {
  height:200px;
  display:block;
  margin-right:auto;
  margin-left:auto;
}

#home {
  background: url("https://images.unsplash.com/photo-1429051883746-afd9d56fbdaf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=ea0b5a76b1adbec4ab01d5edda71d569");
  background-size: cover;
  padding-bottom: 10%;
}

#profile {
  background: url("https://images.unsplash.com/photo-1455077932342-98c5e60610aa?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=ef0458674418dce70aebb94e3bb1acf3");
  background-size: cover;
  padding-bottom:10%;
  padding-top:5%;
}

#projects {
  background: url("https://images.unsplash.com/photo-1456947700819-d91abdf38117?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=2ad306228c60dee21f9cd559b195ce2a");
  background-size: cover;
  padding-bottom: 5%;
}

#contact {
  background: url("https://images.unsplash.com/photo-1429305336325-b84ace7eba3b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=59433667f7ac795ffc6b674964565384");
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;
}

