<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <form action="" method="">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Full Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Company Name">
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Message Body"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit">
          </div>
        </form>
      </div>
      <div class="col-sm-2 text-center">
        --or--
      </div>
      <div class="col-sm-5">
        <div class="btn-group" role="group" aria-label="...">
          <a class="btn btn-default" href="mailto:ahmed.nadim59@gmail.com"><i class="fa fa-envelope" id="emailIcon" aria-hidden="true"></i>
            Email
          </a>
          <a class="btn btn-default" href="https://github.com/mnahm5"><i class="fa fa-github-square" id="gitHubIcon" aria-hidden="true"></i>
            Github
          </a>
          <a class="btn btn-default" href="https://www.linkedin.com/in/md-nadim-ahmed-5b0095102?trk=nav_responsive_tab_profile"><i class="fa fa-linkedin-square" id="linkedInIcon" aria-hidden="true"></i>
            LinkedIn
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
